body > header > nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
#container{
    margin-top: 50px;
    font-family: 'Cormorant Garamond', serif;
    background-image: url('../image/background/background3.jpeg');
    
}
#sub-container{
    padding-top: 30px;
    margin: auto;
    margin-top: 100px;
    width: 720px;
    height: 920px;
    border: 2px;
    border-radius: 4px;
    background-color: rgba(14, 3, 11, 0.534);
}

#box{
    padding-top: 5px;
    background-image: url("../image/background/modo-aleatorio.png");
    margin: auto;
    background-color: rgba(0, 2, 12, 0.993);
    width: 510px;
    height: 600px;
    align-items: center;
    border: 2px;
    border-radius: 5px;
    
}

#life-score{
    width: 98%;
    margin: auto;
    border: 2px;
    border-radius: 5px;
    padding-top: 5px 15px 5px 15px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(138, 14, 113, 0.651);
    color: rgb(255, 255, 255);
    

}

#name h5 p{
    font-family: 'Cormorant', serif;
    display: inline;
}

#time h5 p{
    font-family: 'Cormorant', serif;
    display: inline;
}

#attempts h5 p{
    font-family: 'Cormorant', serif;
    display: inline;
}

#life h5 p{
    font-family: 'Cormorant', serif;
    display: inline;
}


#score h5 p{
    font-family: 'Cormorant', serif;
    display: inline;
}


#forca{
    margin: auto;
    text-align: center;
    width: 270px;
    height: 400px;
    
    
    

}

#image img{
    width: 250px;
}

#secret-word{
    width: 50%;
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin: auto;
    border: 2px;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    background-color: rgba(221, 185, 214, 0.253);
    color: rgb(255, 255, 255);
}

#dicas{
    width: 80%;
    padding: 5px 5px 5px 5px;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    background-color: rgba(221, 185, 214, 0.253);
    color: rgb(255, 255, 255);
    border: 2px;
    border-radius: 4px;
    
}

#keyboard{
    text-align: center;
    margin: 10px 0px 10px 0px;
    
}

.keys button{
    width: 50px;
    height: 50px;
    margin: -1px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    color: #120333;
    font-weight: 500;
}

.keys button:hover{
    cursor: pointer;
    background-color: rgba(182, 182, 182, 0.925);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.822) ;
}

.keys2 button{
    width: 50px;
    height: 50px;
    margin: -1px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    color: #120333;
    font-weight: 500;
}

.keys2 button:hover{
    cursor: pointer;
    background-color: rgba(182, 182, 182, 0.925);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.822);
}

#category{
    justify-content: center;
    width: 40%;
    padding: 6px;
    text-align: center;
    margin: auto;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.664);
    color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.521) ;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.705);
}


@media (max-width: 800px) {
    #sub-container{
        width: 720px;
        height: 880px;
    }
    #life-score-name{
     width: 460px;
     
    }

    h5{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }

    #box{
        background-image: url("../image/background/responsividade/2modo-aleatorio.png");
        width: 475px;
        height: 560px;  
    }
    
    #secret-word{
        width: 350px;
    }

    #dicas{
        width: 350px;
        margin-top: 5px;
    }

    .keys button{
    width: 45px;
    height: 45px;
    }

    .keys2 button{
        width: 45px;
        height: 45px;
    }

    #buttons > button{
        padding: 5px;
        width: 170px;
        font-size: 16px;
    }

    #praise-bugs > button{
        padding: 6px;
        width: 170px;
        font-size: 16px;
    }
}

@media (max-width: 718px) {
    #sub-container{
        width: 585px;
        height: 880px;
    }
    #buttons > button{
        padding: 5px;
        width: 160px;
        font-size: 14px;
    }

    #praise-bugs > button{
        padding: 6px;
        width: 160px;
        font-size: 14px;
    }
    /* 
    #life-score-name{
     width: 460px;
     
    }

    h5{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }

    #box{
        background-image: url("../image/background/6background.png");
        width: 475px;
        height: 560px;  
    }
    
    #secret-word{
        width: 350px;
    }

    #dicas{
        width: 350px;
        margin-top: 5px;
    }

    .keys button{
    width: 45px;
    height: 45px;
    margin: 2px;
    margin-bottom: 2px;
    }

    .keys2 button{
        width: 45px;
        height: 45px;
        margin: 2px;
        margin-bottom: 2px;
    } */
}

@media (max-width: 585px) {
    #sub-container{
        width: 450px;
        height: 880px;
        background-color: rgba(0, 0, 255, 0);
    }
    #life-score-name{
     width: 350px;
     
    }

    h5{
        font-size: 12px;
    }
    p{
        font-size: 11px;
    }

    #box{
        background-image: url("../image/background/responsividade/3modo-aleatorio.png");
        width: 100%;
        height: 560px;  
    }
    
    #secret-word{
    }

    #dicas{
        margin-top: 5px;
    }

    .keys button{
    width: 31px;
    height: 30px;
    box-shadow: none;
    font-size: 0.8em;
    }

    .keys2 button{
        width: 31px;
        height: 30px;
        box-shadow: none;
        font-size: 0.8em;
    }

    #buttons > button{
        padding: 5px;
        width: 110px;
        font-size: 10px;
    }

    #praise-bugs > button{
        padding: 6px;
        width: 110px;
        font-size: 10px;
    }
}

@media (max-width: 449px) {
    #disappear{
        display: none;
    }
    #disappear-two{
        display: block;
    }

    #sub-container{
        width: 360px;
        height: 800px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0) ;
    }
    #life-score-name{
     width: 90%;
     
    }

    h5{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }

    #box{
        background-image: url("../image/background/responsividade/1modo-aleatorio.png");
        width: 100%;
        height: 545px;  
        margin: 0;
     
    }
    
    #secret-word{
        width: 50%;
    }

    #dicas{
        width: 90%;
        margin-top: 5px;
    }

    .keys button{
    width: 28px;
    height: 27px;
    box-shadow: none;
    font-size: 0.8em;
    }

    .keys2 button{
        width: 29px;
        height: 27px;
        box-shadow: none;
        font-size: 0.8em;
    }

    #buttons > button{
        padding: 5px;
        width: 80px;
        font-size: 9px;
    }

    #praise-bugs > button{
        padding: 6px;
        width: 80px;
        font-size: 9px;
    }
}


@media (max-width: 360px) {
    #sub-container{
        width: 100%;
        height: 800px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0) ;
    }
    #life-score-name{
     width: 90%;
     
    }

    h5{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }

    #box{
        background-image: url("../image/background/responsividade/1modo-aleatorio.png");
        width: 100%;
        height: 545px;  
        margin: 0;
    }
    
    #secret-word{
    }

    #dicas{
        margin-top: 5px;
    }

    .keys button{
    width: 22px;
    height: 19px;
    box-shadow: none;
    font-size: 0.6em;
    }

    .keys2 button{
        width: 23px;
        height: 19px;
        box-shadow: none;
        font-size: 0.6em;
    }

    #buttons > button{
        padding: 5px;
        width: 50px;
        font-size: 7px;
    }

    #praise-bugs > button{
        padding: 5px;
        width: 50px;
        font-size: 7px;
    }
}
