#container{
    background-image: url("../image/background/background.jpg");
    margin: auto;
    text-align: center;   
}

#welcome{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    color: white;
    padding: 10px;
    width: 720px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(80, 79, 78, 0.4);
    box-shadow: 0px 2px 4px rgb(0, 0, 0) ;
} 

#parchment{
    font-family: 'Caveat', cursive;
    font-size: 1.1rem;
    background-image: url("../image/background/Pergaminho.png");
    padding: 50px;
    width: 720px;
    height: 920px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    border-radius: 5px;
}
#input-name{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    width: 30%;
    background-color: #ffffff67;
    border: 1px solid#646464;
}
/* #game-start{
    border-radius: 5px;
    background-color: #ffffff67;
    background-clip: padding-box;
    border: 1px solid#646464;
    
} */


#rule-book{
    /* background-color: rgba(55, 121, 197, 0.753); */
    margin: auto;
    justify-content: center;
    margin-top: 45px;
    padding: 15px 15px 0px 15px;
    align-items: center;
    border: 2px;
    border-radius: 5px;   
}

#label-infos{
    color: black;
    position: static;   
}

#btn-id{
    width: 75px;
    height: 30px; 
    font-size: 15px;
    padding:0;
}

#input-box{
    margin-left: 5px;
    display: inline-flex;
    width: 20px;
    height: 20px;
}

#input-name{
    border: 1px solid rgba(129, 129, 129, 0.589);
    width: 100px;
    height: 30px;
    
}

#modelar > div > a{
    margin: 0px 10px 0px 10px;
}




@media (max-width: 768px) {

    #container{
        background-image: url('../image/background/responsividade/sobre/1background.jpg');
    }
    

    #welcome{
        width: 620px;  
        font-size: 40px; 
        
    }

    #parchment{
        width: 620px;
        height: 850px;
        font-size: 15px;
        background-image: url("../image/background/responsividade/0Pergaminho.png");
        
    }

    #input-box{
        margin-left: 5px;
        display: inline-flex;
        width: 15px;
        height: 15px;
    }

    #input-name{
        width: 85px;
        height: 20px;
        
    }

    #btn-id{
        width: 75px;
        height: 20px; 
        font-size: 15px;
        padding:0;
    }

    #left{
        padding: 5px;
        width: 100px;
        font-size: 14px;
    }

    #half{
        padding: 5px;
        width: 200px;
        font-size: 14px;
    }

    #right{
        padding: 5px;
        width: 100px;
        font-size: 14px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 620px) {

    #container{
        background-image: url('../image/background/responsividade/sobre/2background.jpg');
    }
    
    #welcome{
        width: 400px;
        font-size: 28px; 
    }

    #parchment{
        width: 400px;
        height: 850px;
        font-size: 11px;
        background-image: url("../image/background/responsividade/1Pergaminho.png");
        
    }

    #rule-book{
        width: 326px;
    }

    #input-name{
        width: 80px;
        height: 18px;
        font-size: 13px;
    }

    #btn-id{
        width: 70px;
        height: 18px; 
        font-size: 13px;
        padding:0;
    }

    #input-box{
        margin-left: 5px;
        display: inline-flex;
        width: 10px;
        height: 10px;
    }

    #left{
        padding: 5px;
        width: 75px;
        font-size: 12px;
    }

    #half{
        padding: 6px;
        width: 160px;
        font-size: 11px;
    }

    #right{
        padding: 6px;
        width: 76px;
        font-size: 11px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}


@media (max-width: 430px) {

    #container{
        background-image: url('../image/background/responsividade/sobre/3background.jpg');
    }

   

    #welcome{
        width: 300px;
        font-size: 20px;
    }

    #parchment{
        width: 300px;
        height: 840px;
        font-size: 11px;
        background-image: url("../image/background/responsividade/3Pergaminho.png");
        
    }

    #rule-book{
        margin: 0px 0px 0px -10px;
        width: 220px;
        height: 750px;
    }

    #input-name{
        width: 70px;
        height: 15px;
        font-size: 11px;
    }

    #btn-id{
        width: 60px;
        height: 15px; 
        font-size: 11px;
        padding:0;
    }

    #input-box{
        margin-left: 5px;
        display: inline-flex;
        width: 10px;
        height: 10px;
    }

    #left{
        padding: 5px;
        width: 55px;
        font-size: 9px;
    }

    #half{
        margin: 0px 10px 0px 10px;
        padding: 6px;
        width: 100px;
        font-size: 9px;
    }

    #right{
        padding: 6px;
        width: 60px;
        font-size: 9px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 375px) {
    #disappear{
        display: none;
    }
    #disappear-two{
        display: block;
    }
}

@media (max-width: 309px){

    #disappear{
        display: none;
    }
    #disappear-two{
        display: block;
    }

    #welcome{
        display: none; 
    }
}