body{
  background-color: black;
}


#container{
    background-image: url('../image/background/fon-hellouin_halloween-prazdniki-risunki-17309.jpeg');
    background-size:100% 100%;
    /* margin-top: 25px; */
    font-family:'Times New Roman', Times, serif
}
#sub-container{
    color: white;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    width: 700px;
    height: 800px;
    border: 2px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.600);
    justify-content: space-around;
    align-content: center;
}

 #game-start{
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    align-content: center;
}

#game-start button a{
    color: white;
    text-decoration: none;

}

/* .text{
    width: 5002222px;
} */

#game-start > button{
    width: 21%;
    font-size: 1.4em;
    padding: 6px;
}

@media (max-width: 768px) {
    /* #container{
        background-image: url('../image/background/fon-hellouin_halloween-prazdniki-risunki-17309.jpeg');
    background-size:100% 100%;
    } */
    #sub-container{
        
        width: 540px;
        height: 800px;
        font-size: 14px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    /* #container{
        background-image: url('../image/background/fon-hellouin_halloween-prazdniki-risunki-17309.jpeg');
        background-size:100% 100%;
    } */

    #game-start > button{
        width: 20%;
        font-size: 1em;
        padding: 6px;
    }
    #sub-container{
        width: 420px;
        height: 760px;
        font-size: 12px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 430px) {

    #game-start > button{
        font-size: 0.8em;
    }

    #disappear{
        display: none;
        padding: 6px;
    }
    #disappear-two{
        display: block;
    }
    #container{
        background-image: url('../image/background/fon-hellouin_halloween-prazdniki-risunki-17309.jpeg');
    background-size:100% 100%;
    }
    #sub-container{
        width: 310px;
        height: 750px;
        font-size: 10px;
    }

}

@media (max-width: 309px){
    #sub-container{
        width: 225px;
        height: 700px;
        font-size: 8px;
    }
    
    #game-start > button{
        
        padding: 8px;
    }
}