#container{
    margin-top: 50px;
    font-family: 'Cormorant Garamond', serif;
}
#sub-container{
    color: white;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    margin: auto;
    width: 700px;
    height: 800px;
    border: 2px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.692);
    justify-content: space-around;
    align-content: center;
}

 #game-start{
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    align-content: center;
}

#game-start button a{
    color: white;
    text-decoration: none;

}

.text{
    width: 5002222px;
}

@media (max-width: 768px) {
    #sub-container{
        width: 540px;
        height: 800px;
        font-size: 14px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    #sub-container{
        width: 420px;
        height: 760px;
        font-size: 12px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 430px) {
    #disappear{
        display: none;
    }
    #disappear-two{
        display: block;
    }
    #sub-container{
        width: 310px;
        height: 750px;
        font-size: 11px;
    }

    header > nav .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 309px){
    #sub-container{
        width: 225px;
        height: 700px;
        font-size: 9px;
    }
    
    header > nav .navbar{
        justify-content: space-between;
    }
}